<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {{! si no se pone la barra antes de style NO FUNCIONA }}
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>OpenBar</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>Products</li>
          <li>Support</li>
        </ul>
      </nav>
    </header>

    {{{body}}}

  </body>
</html>