<section class="productListContainer">
  <h1>Productos disponibles</h1>
  <article class="productList">
    <h2>Cervezas</h2>
    <div id="listBeers"></div>
  </article>
  <article class="productList">
    <h2>Tragos</h2>
    <div id="listDrinks"></div>
  </article>
</section>

<script src="/socket.io/socket.io.js"></script>
<script src=".index.js"></script>