.navbar{
    background-color: #E3E3E3;
    border-radius: 2rem 2rem 0 0;
    z-index: 1;
    padding: 0 1rem;
    width: 100vw;
}

.navbar svg{
    fill: #242424;
    transition: all 0.5s;
}

.navbar p{
    color: #242424;
    transition: all 0.5s;
}

.navButton{
    padding: 0.5rem;
}

.navButton:hover > *{
    color: #449DD1;
    fill: #449DD1;
}

.selected{
    background-color: #449DD1;
    border-radius: 0.5rem;
    box-shadow: #0E0E52 0 4px 1px 0px;
    transform: translateY(-0.5rem);
}

.selected:hover > *{
    color: #242424;
    fill: #242424;
}

.cart{
    background-color: #78C0E0;
    padding: 1rem;
    border-radius: 50%;
    transform: translateY(-2rem);
    box-shadow: #0E0E52 0 8px 1px 0px;
}

.cart:hover > svg{
    fill: #242424;
    transform: rotate(-360deg);
}