.topItems{
    padding: 1rem 0 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    width: 100vw;
}

.topItems h1{
    font-size: 24px;
    font-weight: 600;
}

.cardGallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: max-content;
    overflow: scroll;
}